#contact{
    @include positioning();
    display: flex;
    flex-shrink: 0;
    font-size: 1.5em;
    padding-bottom: 20vh;
    padding-left: 10%;
    padding-right: 10%;
    
    @media only screen and (min-width: $desktop-min-width){
        height: 55vh;
        top: 20vh;
        left: 20vw;
        right: 20vw;
        width: 35vw;
        bottom: 0;
        font-size: 1em;
        padding: 0;
    }

    #contact-form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: 90%;
        flex-shrink: 0;
        margin-top: 15vh;
        margin-left: 5%;
        margin-right: 5%;

        @media only screen and (min-width: $desktop-min-width){
            margin-top: 2vh;
            width: 100%;
            height: 100%;
            margin-left: 0;
            justify-content: flex-start;
            padding-top: 3%;

        }
        input[type=text], input[type=email]{
            color: white;
            padding: 2%;
            font-family: $font-secondary;
            height: 5vh;
            z-index: 2;
            background-color: rgb(25, 25, 51);
            border: none;
            font-size: 1em;
            border-bottom: 1.5px solid $color-pink;
            @media only screen and (min-width: $desktop-min-width){
                display: flex;
                
            }
            
            
        }
        input:focus {
            outline: none;
            color:white;
            padding: 2%;
          }
        
          
        }

        textarea{
            border: none;
            background: none;
            font-family: $font-secondary;
            color: white;
            z-index: 2;
            border-bottom: 1.5px solid $color-pink;
            background-color: rgb(25, 25, 51);
            height: 15vh;
            font-size: 0.9em;
            padding: 2%;
            }

            input[type=submit]{
                margin-top: 2%;
                @include primaryButton(100%, 0.7em);
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                -webkit-appearance: none;
                border-radius: 0;
                border: none;
                z-index: 2;
                @media only screen and (min-width: $desktop-min-width){
                    margin-bottom: 2%;
                    width: 50%;
                    margin-left: 0;
                    height: 6vh;
                }
                
                
            
    }
    
    label{
        color: rgb(52, 52, 129);
        background-color: rgba(3, 3, 7, 0.945);
        font-family: $font-secondary;
        padding-top: 3%;
        padding-left: 1%;
        
    }
    img{
        position: absolute;
        height: 100%;
        width: 100%;
       bottom: 0vh;
        z-index: 1;
        @media only screen and (min-width: $desktop-min-width){
            left: 30vw;
            width: 30vw;
            height: 50vh;
            top: 0vh;
        }
    }
}